@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
	--color-hover-menu:#4caf50;
	--color-verde:#4caf50;
	--color-titulos:#303030;
	--color-subtitulo:#888;
	--fondo-title:#f8f8f8;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #888;
}
header{
	background-color: #000;
}

.navbar-nav .nav-link.btn-primary{
	background-color: #fff;
	color: #222 !important;
	font-weight: 600 !important;
	border: 0;
	padding: 10px 20px;
	border-radius: 2px;
}
.navbar-nav .nav-link.btn-primary:hover{
	background-color: var(--color-hover-menu);
	color: #fff !important;
}


#hero{
	background-image: url("../img/bg-video.jpg");
	background-size: cover;
	background-position: top center;
	text-align: center;
	color: #fff;
}

#hero h3{
	font-size: 20px;
	margin-bottom: 30px;
	color: #fff;
}
#hero h1{
	font-size: 50px;
	margin-bottom: 40px;
	color: #fff;
}

.btn-verde{
	background-color: var(--color-verde);
	color: #fff;
	padding: 17px 30px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
}
.btn-verde:hover{
	background-color: #fff;
	color: #222;
}
.overlay{
	background-color: rgba(0,0,0,0.60);
	padding: 15% 0;
}
.section{
	padding: 7% 0;
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}

#icons i{
	color: var(--color-verde);
	font-size: 36px;
}
#icons h4{
	font-size: 20px;
	font-weight: 400;
}



#services{
	background-color: #fafafa;
}

.titulo{
	font-size: 46px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 30px;
}
.subtitulo{
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 5%;
	color: var(--color-subtitulo);
}


#services .card{
	border: 0;
}
#services .card-header{
	padding: 0;
}
#services h4{
	font-size: 18px;
}
#services a{
	font-size: 14px;
	text-decoration: none;
	color: #444;
}
#services a:hover{
	color: var(--color-verde);
}
#services a::after{
	content: '\f061 ';
	font-family: 'Line Awesome Free';
	font-weight: 600;
}


#footer-info{
	background-color: #1f2021;
	padding: 45px 0;
	color: #58606b;
	font-size: 14px;
}
#footer-info h4{
	color: #fff;
	font-size: 16px;
	margin-bottom: 30px;
}
#footer-copy{
	background-color: #191919;
	padding: 30px 0;
	color: #58606b;
	font-size: 14px;
}

#footer-copy i.lab{
	background-color: #000;
	color: #535353;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 35px;
	text-align: center;
	font-size: 20px;
}
#footer-copy .la-facebook-f:hover{
	background-color: #3b5998;
	color: #fff;
}
#footer-copy .la-instagram:hover{
	background-color: #dd4b39;
	color: #fff;
}
#footer-copy .la-linkedin-in:hover{
	background-color: #007bb5;
	color: #fff;
}
#footer-copy .la-twitter:hover{
	background-color: #00aced;
	color: #fff;
}
#footer-info a{
	color:#58606b;
	text-decoration: none;
}
#footer-info a:hover{
	color:#4274b7;
}


#title{
	background-color: var(--fondo-title);
	padding: 40px 0;
}
#title h1{
	font-size: 26px;
	font-weight: 400;
}






























